/vendor/
/config/
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# PHPUnitのキャッシュ
.phpunit.result.cache
public/words/スクリーンショット 2025-03-05 231211.png
public/words/スクリーンショット 2025-03-08 220506.png
